params {
    
    // Sample information
    species                     = "Mus_musculus"                                    // Species name for samples (e.g., Homo_sapiens, Mus_musculus)
    genome_version              = "GRCm39"                                          // Reference genome version (e.g., GRCh38, GRCm39)
    read_length                 = 150                                               // Read length

    // Options
    star_build_new_index        = true                                              // true or false
    bwa_build_new_index         = true                                              // true or false
    download_vep_cache          = true                                              // true or false
    
    // Files paths
    tumor_rna_reads             = "data/raw_reads/tumor_rna/*_{1,2}.fastq.gz"       // Raw tumor RNA reads path
    tumor_dna_reads             = "data/raw_reads/tumor_dna/*_{1,2}.fastq.gz"       // Raw tumor DNA reads path
    normal_dna_reads            = "data/raw_reads/normal_dna/*_{1,2}.fastq.gz"      // Raw normal DNA reads path
    reference                   = "data/reference/mm39.fa"                          // Reference genome path
    adapters                    = "data/adapters/adapters.fa"                       // Adapter sequences path   
    gtf                         = "data/reference/mm39_annotation.gtf"              // Gene annotation file path
    star_index                  = "data/reference_index/star/"                        // STAR index path if star_build_index is false
    bwa_index                   = "data/reference_index/bwa/"                       // BWA index path if bwa_build_index is false
    known_snps                  = "data/reference/known_snps.vcf.gz"                // Known SNPs file path
    known_indels                = "data/reference/known_indels.vcf.gz"              // Known Indels file path
    vep_cache                   = "data/vep_cache/mus_musculus_merged/"             // VEP cache directory path
    
    // Output directory
    outdir                      = "results"                                         // Output base directory

    // Tool parameters
    trimmomatic = "PE -phred33"
    trimmomatic_clip = "2:30:10"
    trimmomatic_qual = "LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:50"
    hisat2 = "-q --phred33 --no-mixed --no-discordant -k1"
    featcounts = "-p --countReadPairs -t gene -g gene_id"
    markduplicate = "--REMOVE_DUPLICATES true"
    addorreplacereadgroup = "RGPL=ILLUMINA RGPU=unit1 RGLB=UNKNOWN_LIBRARY"
    bcftools = "-d 200 -Q 30"
    gatk = "--exclude-filtered true --exclude-non-variants true --select-type-to-include SNP"
    somaticsniper = "-q 1 -Q 30 -G -L"
}

process {
    executor = 'local'
    cpus = 4
    memory = '7 GB'
    withName: vep_annotation {
        container = 'ensemblorg/ensembl-vep'
    }
}

conda {
    enabled = true
}

docker {
  enabled = true
}

flowchart {
    enabled = true
}

timeline {
    enabled = true
}

report {
    enabled = true
}

trace {
    enabled = true
}
